BETTER_AUTH_SECRET=...
BETTER_AUTH_URL=http://localhost:5137

POSTGRES_PASSWORD=...
DATABASE_URL=postgresql://scgrouptool:${POSTGRES_PASSWORD}@localhost:5432/scgrouptool

DISCORD_CLIENT_ID=1542580969486426235
DISCORD_CLIENT_SECRET=...