@import "tailwindcss";

@theme {
    --color-primary-100: #e6eef5;
    --color-primary-200: #cbdde9;
    --color-primary-300: #aec7d8;
    --color-primary-400: #69a0bf;
    --color-primary-500: #005a85;
    --color-primary-600: #005177;
    --color-primary-700: #00364f;
    --color-primary-800: #00283b;
    --color-primary-900: #001b28;

    --color-secondary-100: #f8e1ed;
    --color-secondary-200: #f1c3db;
    --color-secondary-300: #e49abc;
    --color-secondary-400: #d45b8a;
    --color-secondary-500: #b0005a;
    --color-secondary-600: #9c004f;
    --color-secondary-700: #700038;
    --color-secondary-800: #520029;
    --color-secondary-900: #36001b;
}

@page {
    margin: 0;
}

button {
    cursor: pointer;
}

.main-background {
    background: #005177;
    background: linear-gradient(60deg,rgba(0, 81, 119, 1) 0%, rgba(237, 83, 83, 1) 100%);
}